<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>flickr music player</title>
<style>
#photoset {
	width: 320px;
	height: 530px;
	overflow: scroll;
	float: left;
	position: fixed;
}
#photoset img {
	width: 300px;
    float: left;
}
#nowplaying {
    left: 200px;
/*    width: 800px;*/
	margin-left: 340px;
	height: 530px;
}
</style>
</head>

<body>

<div id="photoset">
</div>
<a target="_blank" id="nowplaying_a">
<img id="nowplaying" />
</a>

<div id="status" />

<script src="/static/zlib.js"></script>
<script src="/static/png.js"></script>
<script src="/static/player.js"></script>
<script src="/static/jquery-2.0.2.min.js"></script>
<script>
var player = null;
var flickr_keys = null;

$(document).ready(function() {
    $.getJSON("/static/flickr_keys.json", function(data) {
        flickr_keys = data;
        player = new window.Player(flickr_keys, $("#status"));
        player.get_photoset();
    });
});

function play() {
    var url = document.getElementById("form_url").value;
    console.log(url);
    player.play(url);
}

function stop() {
    player.stop();
}
</script>
</body>
</html>
